<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title"> EXPENSES  </span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div style="display: flex; flex-direction: column; padding: 10px;">
      <button mat-raised-button color="accent" (click)="openFriendDialog()" class="sidenav-btn">Add Friend</button> <br>
      <button mat-raised-button color="accent" (click)="openExpenseDialog()" class="sidenav-btn">Add Expense</button> <br>
      <button mat-raised-button color="accent" (click)="openBalanceDialog()" class="sidenav-btn">Get Balance</button> <br>
    </div>

  </mat-drawer>

  <app-expenses-list></app-expenses-list>

</mat-drawer-container>


