
.title {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  padding: 20px;
  color: white;
  flex-direction: column;
  text-align: center;
}

.sidenav-btn{
  padding: 20px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
